/* --- Colors --- */
@white: #ffffff;
@almost-white: #f0f0f0;
@light-gray: #cccccc;
@gray-border: #707071;
@gray: #999999;
@gray-shaded: #313131;
@medium-gray: #666666;
@dark-gray: #464547;
@black-medium: #333333;
@raspberry: #b22746;
@blue: #2fc2d9;
@blue-shaded: #1EBBD1;
@dark-blue: #1a9cb0;
@dark-blue-shaded: #2A8A9C;
@plum: #8e244d;
@lime-green: #a3c644;
@lime-green-shaded: #9aba41;
@dark-green: #7f993a;
@dark-green-shaded: #758c35;
@yellow: #efd108;
@orange: #e3471c;
@button-hover: #9aba41;
@button-hover-after: #758c35;
@white-gray: #f9f9f9;
@error: #F94C4C;
@red: #e00000;
@light-red: #fce5e5;


html, body {
    min-width: 320px;
    height: 100%;
    font-size: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

html {
    overflow-y: scroll;
}

body {
    color: @dark-gray;
    background-color: @dark-gray;
}
h1, h2, h3, h4 {
    font-weight: 700;
}

.all-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background-color: @white;
    overflow-x: hidden;
    padding: 40px 20px;
}