@import "imports.less";

* {
	box-sizing: border-box;
}

html, body {
	min-width: 320px;
	height: 100%;
	font-size: 100%;
	font-family: @Sans-Light;
}

html {
	overflow-y: scroll;
}

body {
	color: @black-medium;
	background-color: @white;
}
h1, h2, h3, h4 {
	font-family: @Oswald_Light;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 28px;
}

.all-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	background-color: @white;
	overflow-x: hidden;
	box-shadow: 0px 0px 1px 1px @light-gray;
	position: relative;
}

header {
	background-color: @orange;
	padding: 20px;
	color: @white;
}

section {
	padding: 20px;

	#content {
		margin: 0 -20px;
		padding: 0 20px;

		&:before,
		&:after {
			content:"";
			display:table;
			border-spacing: 0;
		}
		&:after {
			clear:both;
		}

		.news {
			width: 50%;
			padding: 10px;
			float: left;
			min-height: 300px;

			img {
				padding: 10px;
				float: left;
			}

			a {
				padding: 5px 0;
				display: block;
				color: @blue;
				text-decoration: none;
				font-weight: bold;
			}

			p {
				padding: 10px;
			}

			span {
				float: right;
				padding: 0 10px;
			}

			@media screen and (min-width: 720px) {
				min-height: 275px;
				width: 25%;
			}
		}
	}

}